body {
    background-color:white;

}

.imgborder {
    border-radius: 100px;
}

.imgborder-full{
    border-radius: 50px;
}



.div-main{   
    background-color: #F5F5F5;
    border: 2px solid #DDDDDD;
    border-radius: 5px;
    color: #3B3C3E;
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 10px 7px 5px;
}

.div-with-scroll{
    height:730px;
    overflow:scroll;
    overflow-x:hidden;
    
}

.divImage {
    text-align: center;
    
}